/*===== Import Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    transition: 0.5s ease;
    background-color: #fff;
    height: 15%;
}



header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #0e0d0d;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    margin: 40px;
}


header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #000000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

.button-cadastro {
    padding: 10px 20px;
    background-color: black;
    border-radius: 10px;
    color: #fff;
    display: none;
}

.button-login {
    padding: 10px 30px;
    background-color: #ffcd00;
    border-radius: 10px;
    display: none;
}



.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(archives/background\ hero.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 200px;
}


.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
}

.h1-desktop {
    font-size: 3.4em;
    font-weight: 500;
    line-height: 75px;
    width: 75%;
    margin-bottom: 20px;
    color: #000000;
}


.home .content p {
    margin-bottom: 40px;
    width: 60%;
    color: #000000;

}

.button-expanda {
    background: #000000;
    padding: 15px 45px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
}


/*===== SECTION CLIENTES =====*/

.paragraph-clientes {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.paragraph-clientes>p {
    color: #46dfd7;
}



.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 20px 20px 20px 20px rgb(238, 237, 237);
    margin: 10px;
}

.card-img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.card-container>h1 {
    font-size: 18px;
    margin-top: 10px;
}

.card-container>h3 {
    font-weight: 300;
}


.card-container>p {
    padding: 25px;
    font-size: 15px;
}

.card-stars {
    display: flex;
    justify-content: center;
}

.card-stars>img {
    width: 60%;
    margin-bottom: 20px;
}



.empresa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.empresa-img-desktop,
.empresa-img-mobile,
.empresa-container-texts {
    /* topo | direita | inferior | esquerda */
    margin: 10% 30px 0 30px;
}

.empresa-img-desktop>img {
    width: 80%;
}

.empresa-img-mobile>img {
    width: 80%;
}

.empresa-container-texts {
    width: 35%;
}

.empresa-container-texts>h3 {
    color: #46dfd7;
    font-weight: 400;
}

.empresa-container-texts>h1 {
    font-size: 2.6em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.empresa-container-texts>p {
    width: 95%;
}


.plataforma-main-text {
    margin-top: 10%;
}

.plataforma-main-text>h1 {
    text-align: center;
}

.plataforma-main-text>h3 {
    margin-top: 20px;
    text-align: center;
    color: #46dfd7;
    font-weight: 400;
}

.container-passos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}


.plataforma-container-texts {
    /* topo | direita | inferior | esquerda */
    margin: 1% 0 0 0;
}

.passos-img>img {
    width: 80%;

}

.plataforma-container-texts {
    width: 35%;
}

.plataforma-container-texts>h3 {
    color: #46dfd7;
    font-weight: 400;
}

.plataforma-container-texts>h1 {
    font-size: 2.6em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plataforma-container-texts>p {
    width: 95%;
}



.pagamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button-consultoria {
    padding: 20px 5%;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 10%;
    color: #fff;
    text-decoration: none;
}

.empresa-img-mobile>img {
    width: 80%;
}



@media (max-width: 500px) {
    header {
        justify-content: left;
        margin: 0px;
        padding: 0px 20px 0px 0px;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 90px;
    }

    header>img {
        width: 130px;
    }


    header>.navigation {
        display: none;
    }

    .home {
        width: 100%;
        position: relative;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 20px;
        z-index: 0;
    }

    .home>.content {
        width: 90%;
    }

    .content {
        margin: 0px 0px 0px 20px;
    }





    .content>.h1-desktop {
        width: 85%;
        font-size: 2.5em;
        font-weight: 600;
        margin: 80px 0px 0px 0px;
        padding: 0px;
        line-height: normal;
    }

    .content>p {
        font-size: 18px;
        font-size: 14px;
        min-width: 90%;
    }

    .paragraph-clientes {
        margin-top: 80px;
    }


    .cards-row {
        flex-direction: column;
    }

    .empresa-container {
        flex-direction: column;
        justify-content: center;
    }

    .empresa-container-texts {
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .empresa-container-texts>h3 {
        text-align: center;
    }

    .empresa-container-texts>h1 {
        text-align: center;
        font-size: 2em;
    }

    .empresa-container-texts>p {
        text-align: center;
        font-size: 16px;
        width: 100%;
    }
    .empresa-img-mobile{
        margin: 0px 20px;
    }

    .empresa-img-mobile>img {
        display: block;
        min-width: 100%;
    }

    .empresa-img-desktop>img {
        display: none;
    }


}



@media (min-width: 501px) {
    .empresa-img-mobile>img {
        display: none;
    }
}